.game{
    display: flexbox;
}

.ShopTop{
    background-color: rgb(255, 183, 49);
    width: 100vw;
    height: 30vh;
    display: flex;
}
.ButtonFerm{
    width: 70px;
    height: 70px;
    display: flex;
}
.ButtonFactory{
    width: 70px;
    height: 70px;
    display: flex;
}
.ButtonBank{
    width: 70px;
    height: 70px;
    display: flex;
}

.field1Left{
    width: 100vw;
    height: 40vh;
    display: flex;
}
.CookIMG{
    width: 150px;
    display: flex;
}
.field2Right{
    width: 100vw;
    height: 40vh;
    display: flex;
}

.ShopDown{
    background-color: rgb(255, 183, 49);
    width: 100vw;
    height: 30vh;
    display: flex;
}
.ButtonMagazin{
    background-color: #ff00c8; 
    border: 2px solid #ffff00;
    color: rgb(0, 26, 255);
    padding: 15px 32px;
    text-align: center;
    border-radius: 16px;
    font-size: 16px;
    display: flex;
}
