.game{
    display: flex;
    flex-direction: column;
}

body{
    width: 100vw;
}

.ShopTop{
    background-color: rgb(255, 183, 49);
    width: 91vw;
    height: 20vh;
    display: flex;
    text-align: center;
}


.CookIMG{ 
    width: 250px;
    display: flex;

    text-align: center;

}
.Click{
    float: left;
    width: 30vw;
}
.CookIMG:active {
    transform: scale(0.98,0.98);
}

.ShopDown{
    background-color: rgb(255, 183, 49);
    width: 91vw;
    height: 20vh;
    display: flex;
}
.ButtonMagazin{
    background-color: #ff00c8; 
    border: 3px solid #ffff00;
    color: rgb(0, 26, 255);
    padding: 8px 25px;
    text-align: center;
    border-radius: 16px;
    font-size: 16px;
    
}
.ButtonMagazin:active {
    transform: scale(0.98,0.98);
}
.AUTOClick{
    background-color: #ff00c8; 
    border: 3px solid #ffff00;
    color: rgb(0, 26, 255);
    padding: 8px 25px;
    text-align: center;
    border-radius: 16px;
    font-size: 16px;
    transform: translateX(40px);
    
}
.AUTOClick:active {
    transform: scale(0.98,0.98);
}

.button{
    display: flex;
    flex-direction: column;
    height: 130px;
}
.button:active {
    transform: scale(0.98,0.98);
}

.Click{
    float: left;
    width: 30vw;
}

